<div class=bodyPageDive>
    <div class="mat-typography" >
    	<h1 >MISSIE:</h1>
			    <p>
			    Atlemo wil jongeren en volwassenen uit Sint-Jans-Molenbeek en omstreken de kans bieden
			     de atletieksport op een regelmatige basis te beoefenen. Alhoewel de activiteiten in het<br />
			     Nederlands doorgaan staat de vereniging ook open voor anderstalige atleten rekening houdend
			     met de eigenheid van Brussel. De vereniging wil zowel de competitieve als de recreatieve<br />
			     atleten welkom heten in de club maar richt zich vooral naar een algemene opleiding van de
			     jongeren (benjamin tot miniem). Hiertoe zullen trainingen georganiseerd worden en zal worden<br />
			     deelgenomen aan wedstrijden. Vanaf de cadetten categorie zullen de jongeren in de mate van het
			     mogelijke verder begeleid worden om hun talenten verder te ontplooien. Indien dit niet mogelijk<br />
			     is zullen de jongeren verder begeleid worden naar een andere atletiekvereniging. Buiten de ethische
			     waarden van de sport zal de vereniging. ook de deelname van kansengroepen, in het bijzonder <br />
			     allochtonen en nieuwkomers, aan de trainingen en wedstrijden promoten. De vereniging zal in 
			     samenwerking met andere sectoren binnen het integratiecentrum Foyer de atleten andere activiteiten<br />
			     aanbieden die een meerwaarde voor hen en de club kunnen betekenen.
			    </p>

			    <h1>VISIE</h1>

			    <h3>Trainingen en wedstrijden</h3>

			   <p>
			    	De club wil jongeren vanaf 6 jaar de kans geven om op een aangename en kwaliteitsvolle
			     manier kennis te maken met en zich te ontwikkelen in de atletieksport. De club volgt de<br />
			     indeling in leeftijdscategorieën zoals opgelegd door de Vlaamse Atletiekliga en zal voor
			     iedere leeftijdscategorie rekening houden met de specifieke noden en wensen van iedere<br />
			     groep. Zo zal bij de jeugdcategorieën de nadruk liggen op het plezier beleven en het aanleren
			     van bepaalde vaardigheden die de jongeren in staat zal stellen om op latere leeftijd de<br />
			     specifieke atletiekvaardigheden op een juiste manier aan te leren. Tot en met eerste jaars
			     miniem zal geen onderscheid gemaakt worden tussen de recreatieve en competitiesporters.<br />
			     Vanaf 2de jaars miniem zal er opgedeeld worden in een recreatieve en een wedstrijdgroep.
			     Er zal nog geen specialisatie zijn, maar er wordt meer gewerkt op het aanleren van de<br />
			     verschillende specifieke atletiekvaardigheden. Recreatieve atleten zijn echter steeds welkom
			     en worden opgevangen in een recreatieve trainingsgroep.<br />
			     Vanaf de scholieren categorie zal er binnen de club de nadruk gelegd worden op de
			     loopnummers, zowel sprint, hindernis, middenlange afstand en lange afstand. Atleten die zich<br />
			     verder willen specialiseren in een andere discipline zullen worden doorverwezen naar een
			     andere meer geschikte club. Indien nodig zal de club hen begeleiden bij het zoeken naar de<br />
			     juiste club.
			   </p>

			   <h3>lidgeld</h3>

			   <p>
			   De atletiekvereniging Atlemo is een sportclub gegroeid uit de sportwerking (BIS) van het
			   integratiecentrum Foyer. BIS heeft als doel het aanmoedigen van en de kans te geven aan<br />
			   maatschappelijk kwetsbare jongeren uit Sint-Jans-Molenbeek en omstreken om de
			   atletieksport te leren kennen en op regelmatige basis te beoefenen. De drempels worden<br />
			   daarom zo laag mogelijk gehouden om zo veel mogelijk mensen uit het doelpubliek te kunnen
			   bereiken. Dit heeft zijn invloed op het lidgeld dat gevraagd wordt. Dit zal steeds zo laag<br />
			   mogelijk worden gehouden. Tevens zullen er individueel, indien nodig, betalingsplannen
			   worden opgesteld om zeker te zijn dat niemand wordt uitgesloten van aansluiting bij onze<br />
			   vereniging omdat ze niet beschikken over de nodige financiële middelen.</p>

			   <h3>Sociaal engagement</h3>

               <p>
                    Het sociale aspect zal een belangrijke rol spelen binnen de werking van de vereniging. Dit
                    zal onder andere tot uiting komen in:<br /></p>
                    <ul>
                        <li>Het organiseren van extra-sportieve activiteiten om de groepsgeest binnen de club te
                       verhogen</li>
                        <li>Het informeren van de leden over de werkingen van Foyer zodat de leden indien nodig
                          hierop beroep kunnen doen.</li>
                        <li>Het aansporen van de leden (en hun ouders) om bepaalde taken op zich te nemen
                         binnen de club. Aangezien vele mensen binnen het doelpubliek niet bekend zijn met<br />
                         het feit dat sportverenigingen draaien dankzij vrijwilligerswerk, is het belangrijk dat
                         ze hiervan op de hoogte worden gebracht en dat ze zelf ook betrokken worden bij de<br />
                         werking van de club. Dit kan gaan van het mee instaan voor het vervoer naar
                         wedstrijden tot het opnemen van een taak binnen de club als trainer, bestuurslid,…</li>
                        <li>Het aandacht besteden aan de drempels die soms bestaan voor bepaalde mensen uit
                         onze maatschappij om de weg naar een sportclub te vinden. De club zal dan ook
                         drempelverlagend werken</li>
					</ul>
					
					<h3>Trainers</h3>
					<p>
						De taak van de trainers binnen de clubwerking is zeer belangrijk. Zoals in het aspect sociaal
						 engagement reeds werd besproken is het de bedoeling dat de leden zich binnen de club<br />
						 engageren. Een belangrijke manier waarop dat moet gebeuren is door het inschakelen van de
						“oudere” atleten als trainer voor de jongeren binnen de clubwerking. Dit kan enkel succes <br />
						hebben indien deze atleten een goede opleiding krijgen zowel extern (VTS) als intern (hulp
						van andere trainers en jeugdsportcoördinator). Hun taak zal er vooral in bestaan om de<br />
						kinderen hun enthousiasme voor de sport over te brengen en hen zo het plezier in het sporten
						te laten ervaren. Verder moeten ze de jongeren de nodige basis meegeven zodat ze de nodige<br />
						basisvaardigheden beheersen om zich in de toekomst verder te kunnen ontwikkelen in de
						atletieksport.<br />
					  </p>

					  <h1 >Algemeen Beleidsplan 2014-2016</h1>

			  <h3>competities</h3>

			  <h4 >organisatie</h4>
			  <ul>
				<li> Atlemo organiseert jaarlijks in samenwerking met Foyer de Leopold II jogging</li>
				<li>Atlemo organiseert jaarlijks een kids athletics activiteit voor de benjamins en pupillen
				   van de club en hun vriendjes </li>
			   </ul>

			   <h4>Deelname</h4>
			   <ul>
				<li>Iedereen wordt aangespoord om deel te nemen aan BVV(vanaf pupil), PK (vanaf
				   cadet) en Leopold II jogging (iedereen)</li>
				<li>Deelname aan andere wedstrijden is voor benjamins volledig vrij zijn, enkel als ze zelf
				  zin hebben nemen ze deel aan wedstrijden.</li>
				<li>Deelname aan andere wedstrijden zal volledig vrij zijn voor pupillen maar zij zullen 
				   toch worden aangemoedigd om deel te nemen aan andere wedstrijden indien ze er<br />
				   door de trainer klaar worden voor bevonden.</li>
			  <li>Deelname vanaf de miniemen categorie aan andere wedstrijden zal vrij zijn.
				  Miniemen die deelnemen aan wedstrijden en regelmatig op training aanwezig zijn<br />
				 zullen terecht komen in de wedstrijdgroep. Atleten die niet deelnemen aan
				 wedstrijden en/of niet regelmatig komen trainen zullen in de recreatieve groep trainen.</li>
			</ul>

			<h3>omkadering</h3>

			<h4>Trainers</h4>
			<p>
				De club zal voor iedere trainingsgroep een gepaste trainer/trainers zoeken. Er zal voor de
				categorie van benjamin tot miniem in de eerste plaats gerekruteerd worden uit de oudere<br />
				jeugdatleten (+15 jaar). Indien niet genoeg trainers worden gevonden binnen de club zal
				beroep gedaan worden op andere kanalen zoals Foyer, Buurtsport Brussel, sportdienst<br />
				VGC,… .
				Vanaf cadet wordt beroep gedaan op gediplomeerde trainers of trainers met veel ervaring. Er<br />
				zal ook beroep gedaan worden op gasttrainers die vooral de cadetten en scholieren
				gespecialiseerde training kunnen geven in een bepaalde discipline.<br />
				Er zal gevraagd worden aan de trainers om gepaste opleiding te volgen indien ze nog geen
				trainersdiploma hebben. We denken hier dan in eerste instantie aan het VTS diploma van<br />
				aspirant-initiator maar op termijn ook aan het diploma initiator. Aangezien mobiliteit voor de
				jongeren meestal een probleem is zal de club trachten in samenwerking met de Buurtsport<br />
				Brussel, VGC en de VAL de cursus aspirant-initiator te laten doorgaan in Brussel.
				Om de trainers te stimuleren zich op regelmatige basis te engageren binnen de club zal een<br />
				verloningssysteem met hen worden uitgewerkt dat hen zal aanmoedigen om niet enkel
				aanwezig te zijn op de trainingen, maar hen ook zal motiveren om aanwezig te zijn op de<br />
				wedstrijden, sportkampen, trainingsstages en extra-sportieve activiteiten.
				Om de trainers aan te moedigen tot het volgen van opleidingen en bijscholingen, zal de club<br />
				dan ook de kosten van deze opleidingen en bijscholingen op zich nemen.
				De trainers zullen 1 tot 2 maandelijks samenkomen om te evalueren en te overleggen zodat<br />
				de trainingen in de toekomst op een positieve manier zullen evolueren.
			   </p>

			   <h4>Jury</h4>

			     <p>
			       De club zal de volgende jaren initiatieven nemen om de leden van de club, ouders van
			       clubleden, sympathisanten en andere mensen betrokken bij de club te overhalen de taak van<br>
			       jurylid op zich te nemen.
			     </p>

			     <h4>Bestuur</h4>
			     <p>
			      Opdat de club zich in de toekomst verder in de goede richting zal blijven ontwikkelen en om
			      de leden van de club de kans te geven meer inspraak te hebben in de werking van de club zal<br>
			      aan de leden, hun ouders en sympathisanten de kans gegeven worden om een bestuursfunctie
			      op zich te nemen en zo mee te werken aan de verder ontwikkeling van de club.
			     </p>

			     <h3>Informatie</h3>
			     <p>
			       Goede communicatie is een absolute voorwaarde om te komen tot een positieve evolutie
			       binnen de club die de werking steeds beter maakt en er voor zorgt dat de club de opwaartse<br />
			       trend die het de laatste jaren zet, verder zal kunnen doorzetten. Daarom is een goede
			       informatiewisseling tussen de verschillende actoren die betrokken zijn bij de club en haar<br />
			       werking zeer belangrijk.
				 </p>
				 
				 <h4> Tussen trainers</h4>
			     <p>
			       De trainers zullen één tot tweemaandelijks samenkomen om een evaluatie te maken van de
			       voorbije periode en de planning voor de volgende periode. Deze vergadering zal geleid<br />
			       worden door de hoofdtrainer die tevens het agenda van de vergadering vastlegt (met inspraak
			       van de andere trainers). Er zijn afzonderlijke vergaderingen voor de jeugdtrainers (tot en met<br />
			       miniemen) en voor de andere trainers (vanaf cadet).
			     </p>

			     <h4>Communicatie tussen bestuur en trainers</h4>
			     <p>
			       De hoofdtrainer maakt deel uit van het dagelijks bestuur en zal zo de vertegenwoordiger zijn
			       van de trainers en verantwoordelijk voor de communicatie tussen de trainers en het bestuur.<br />
			       Alhoewel er steeds informele contacten zullen zijn tussen de trainers en het bestuur moet elke
			       officiële communicatie gaan via de hoofdtrainer.
			     </p>

			     <h4>Tussen trainers atleten/ouders</h4>
			     <p>
			       Naast de informele contacten tussen de verschillende ouders zullen er ook formele en officiële
			       communicatiekanalen bestaan tussen de ouders en de trainers zoals:<br /> </p>
			       <ul>
			       	<li>Infovergaderingen</li>
			       	<li>Officiële briefwisseling</li>
			       	<li>Website</li>
			       	<li>...</li>
			       </ul>
			    

			     <h4>Met derden</h4>
			     <p>
			     De communicatie met derden zal voornamelijk verlopen via de website en via briefwisseling
			     </p>

			     <h2>Promotie</h2>
			     <p>
			       Momenteel lopen in Brussel ongeveer 35.000 jongeren school in het Nederlandstalig
			       Onderwijs. Er zijn momenteel slechts 2 bij de VAL aangesloten atletiekclubs actief in<br />
			       Brussel. Het ligt dus voor de hand dat er nog een enorm potentieel is om te groeien als we
			       gerichte promotie kunnen maken voor onze vereniging. Niet enkel met het doel om nieuwe<br />
			       leden te winnen maar ook om de kwaliteit van de club te verbeteren door het aantrekken van
			       gekwalificeerde trainers. Het doel voor de volgende jaren moet dan ook zijn om een<br />
			       doelgerichte promotiecampagne op poten te zetten die vooral ons doelpubliek bereikt, zijnde
			       maatschappelijk kwetsbare jongeren die naar het Nederlandstalig onderwijs gaan. De kanalen<br />
			       die hiervoor best gebruikt worden zijn: </p>
			      <ul>
			      	<li>Nederlandstalige scholen (in de buurt van de atletiekpiste)</li>
			      	<li>WMKJ's</li>
			      	<li>VGC</li>
			      	<li>BON</li>
				  </ul>
				  
				  <p>
					Manieren waarop promotie kan gevoerd worden
					</p>
					<ul>
						<li>Flyers</li>
						<li>Atletiekinitiaties</li>
						<li>Kids Athletics</li>
					</ul>
				  
				   <h3>Trainingen</h3>
  
				   <p>
					 De trainingen gaan door op de volgende plaatsen:<br />
					 Atletiekpiste Sippelberg: dinsdag ,donderdag en vrijdag van 17u15 tot 19u00<br />
					 Fitnesszaal Foyer: maandag en woensdag van 17u30 tot 19u00
				   </p>
  
				   <p>
					Na onderlinge afspraak met de trainer kunnen de trainingen doorgaan op een andere plaats en<br>
					op een ander tijdstip.
				   </p>
  
				   <h4>Jeugd </h4>
				   <p>De trainingen voor benjamins tot en met scholieren worden beschreven in een apart hoofdstuk<br />
					  “jeugdsport”.</p>
  
				   <h4>Juniors/Seniors</h4>
				   <p>
					De steun voor atleten die nationaal niveau behalen zal verder gaan. Indien de atleet de<br>
					mogelijkheid heeft om door te stoten tot internationaal niveau (halen van selecties voor
					internationale kampioenschappen), zal hij/zij ze door de club, haar bestuur en haar trainers in de<br />
					mate van het mogelijke gesteund worden om dit niveau na te streven.
					De atleten die kiezen voor competitie op regionaal niveau zullen door de disciplinetrainer zo<br />
					goed mogelijk begeleid worden op de trainingen en de wedstrijden.
				   </p>
  
				   <h4>Masters</h4>
				   <p>
					 Masters atleten die deelnemen aan wedstrijden zullen door de disciplinetrainer zo goed
					 mogelijk begeleid worden op de trainingen en wedstrijden.
				   </p>
  
				   <h4>Recreanten</h4>
				   <p>
					Recreanten krijgen de kans aan te sluiten bij onze vereniging en worden als jongeren (t.e.m.
					scholier) begeleid door ervaren trainers. Van de leeftijd van 18 jaar zullen zij keuze krijgen<br>
					tussen de volgende mogelijkheden: </p>
					<ul>
						<li>Zich aansluiten bij de trainingsgroep “recreanten”</li>
						<li>Individueel te sporten binnen de club, alhoewel zij steeds beroep zullen kunnen doen
						   op de know how van de trainers</li>
						<li>Zichzelf te organiseren binnen de club en met de steun van de club de nodige kennis
						   op te doen in de atletieksport om tot een kwaliteitsvolle sportbeoefening te komen</li>
					</ul>

					<h3>Jeugdsport</h3>

					<h4>Algemeen</h4>
					<p>
					 De club volgt de door de VAL en VTS vastgelegde leerlijnen die als primair doel hebben te
					 komen tot een levenslange sportbeoefening
					</p>
   
					<h4>kangeroes en Benjamins 1 </h4>
					<p>
					  Training op dinsdag van 17u15 tot 18u30 en vrijdag van 17:15-18:30
					  Minstens één maal maximaal twee maal per week trainen.<br />
					  Bij de allerjongsten staat het plezier hebben in het sporten centraal. Er wordt op een<br /> speelse
					  manier gewerkt aan de algemene ontwikkeling van de jongeren waarbij aandacht wordt
					  besteed aan de ontwikkeling van de verschillende conditionele vaardigheden in zover dit<br />
					  wenselijk is op hun leeftijd. Er wordt gebruik gemaakt van spelvormen om deze
					  vaardigheden te ontwikkelen.<br />
					  Verder wordt bij deze leeftijdsgroep aandacht besteed aan het ontwikkelen van de clubgeest.<br />
					  Alhoewel atletiek een individuele sport is zal het vormen van de teamgeest een belangrijk
					  onderdeel vormen van de clubwerking. Dit kan zowel gebeuren tijdens de trainingen als door<br />
					  het organiseren van extra-sportieve activiteiten.
					  Competitie is bij deze leeftijdscategorie niet belangrijk en er zal tijdens de training dan ook<br />
					  niet prestatiegericht gewerkt worden.
					</p>
   
					<h4>Benjamins 2 en Pupillen 1</h4>
					<p>
					  Training op dinsdag en vrijdag van 17:15 tot 18:30.
					  Twee maal per week trainen<br />
					  Bij de pupillen staat net als bij alle andere jeugdcategorieën het plezier in het sporten centraal.
					  Alhoewel bij deze categorie de algemene ontwikkeling verder wordt gezet, zal ook een eerste<br />
					 kennismaking met de verschillende atletiekdisciplines plaatsvinden. Tijdens deze
					 kennismaking zal een eerste ruwe techniek worden aangeleerd die hen toelaat om deze op<br />
					 latere leeftijd bij gespecialiseerde trainers verder te verfijnen. De jongeren zullen dan ook
					 aangespoord worden om regelmatig deel te nemen aan de trainingen zodat zij de kans krijgen<br />
					 om hun vaardigheden ten volle te ontplooien. De trainingen zullen voor het grootste gedeelte
					 bestaan uit spelvormen maar zullen waar nodig en gewenst aangevuld worden met (speelse)<br />
					 oefenvormen.
					 De jongeren van deze leeftijd zullen aangemoedigd worden om deel te nemen aan minstens<br />
					één wedstrijd, zonder hierbij nadruk te leggen op de prestatie, maar meer op de sociale
					aspecten zoals ontmoeting, spelen met leeftijdsgenoten,… . Ook tijdens de wedstrijden moet<br />
					het plezier centraal staan en moet de prestatiedruk zo laag mogelijk worden gehouden.
					Door middel van pedagogisch verantwoorde trainingen en door het organiseren van extrasportieve<br />
					activiteiten (uitstap, trainingskamp,…) zal de teamgeest verder ontwikkeld worden
					</p>
   
					<h4>Pupillen 2 en Miniemen 1</h4>
					<p>
					Training op dinsdag en vrijdag van 17:15 tot 18:30 en donderdag van
					17u15 tot 18u30 enkel voor wedstrijdatleten.<br />
					Een of twee maal per week voor recreatieve sporten. Minimaal twee maal per week voor
					wedstrijdatleten<br />
					Alhoewel het plezier in het sporten centraal blijft staan zal bij de miniemen trainen dichter<br />
					aansluiten bij de trainingsvormen van de hogere categorieën. Alhoewel nog geen specialisatie
					wordt aangemoedigd, zullen de jongeren door middel van goed uitgewerkte oefenvormen<br />
					(aangevuld met spelvormen) de technieken van de verschillende atletiekdisciplines aanleren.
					Zo zullen de jongeren een eerste maal ontdekken waar hun voorkeur en talenten liggen. Toch<br />
				   zal specialisatie op deze leeftijd niet worden toegelaten binnen de clubwerking, maar zal 
				   eerder een brede algemene ontwikkeling in de verschillende disciplines worden nagestreefd.<br />
				   Doel is dat men als tweedejaars miniem de eindtermen zoals opgesteld door de VAL behaalt.
				   Regelmatige aanwezigheid op en deelname aan de trainingen zijn op deze leeftijd dan ook<br />
				  belangrijk. Trainers en bestuur zullen de miniemen dan ook aansporen om regelmaat te tonen
				  bij hun deelname aan de trainingen.<br />
				  Ook deelname aan enkele wedstrijden zal worden aangespoord.
					</p>
   
					<h4>Miniemen 2/Cadetten</h4>
					<p>
					 Wegens de beperkte middelen van de club zal vanaf de cadetten categorie een keuze moeten
					 worden gemaakt. Gezien de middelen voor handen zijn  zal in de nabije toekomst vooral gekozen<br />
					 worden om te werken met een sprintgroep en een afstandslopersgroep. Toch zal bij de
					 cadetten nog getracht worden om een verdere ontwikkeling in de andere disciplines mogelijk<br />
					te maken. Dit zal gebeuren door trainingen gegeven door de eigen trainers, evenals door het
					uitnodigen van gasttrainers en het samenwerken met andere verenigingen die de<br />
					gespecialiseerde trainers voor spring/horden en werpnummers in huis hebben.
					Wegens de beperkte middelen zal aan de jongeren op deze leeftijd gevraagd worden of ze<br />
					kiezen voor competitieve sportbeoefening of recreatieve sportbeoefening. De competitie
					atleten zullen vanaf deze leeftijd minstens één aparte training krijgen om hen voor te bereiden<br />
					op de wedstrijden.
					Ook deze groep zal de kans krijgen om hun clubgevoel te ontwikkelen door middel van onder
					andere meerdaagse trainingskampen<br> en extra-sportieve activiteiten.
					</p>
   
					<h4>Scholieren</h4>
					<p>
					 Vanaf de scholieren categorie zullen de jongeren worden aangemoedigd om te kiezen voor
					 een specifieke discipline: springen, werpen, meerkamp, sprint/horden en afstandslopen.<br>
					 Gezien het gebrek aan gespecialiseerde trainers zal de club enkel de jongeren begeleiden die
					 kiezen voor spurt/horden en afstand lopen. De jongeren die kiezen voor springen, werpen, en<br />
					 meerkamp zullen begeleid worden in het zoeken naar een andere, voor hen geschikte club.
					 Vanaf deze leeftijd zal de disciplinetrainer de getalenteerde atleten opsporen en zal hen de<br />
					 keuze gegeven worden om op recreatieve wijze deel te nemen aan wedstrijden of om te
					 streven naar een topniveau. De jongeren die een topniveau nastreven zullen kunnen rekenen<br />
					 op extra steun van de club, haar bestuur en haar trainers. De jongeren die ervoor kiezen om
					 meer op recreatieve wijze deel te nemen aan de wedstrijden zullen zo goed mogelijk begeleid<br />
					 worden binnen de tijd dat ze aan hun sport willen spenderen.
					 Door middel van trainingskampen en extra-sportieve activiteiten zal hier ook aandacht
					 besteed worden aan het <br>ontwikkelen van de teamgeest.
					</p>
   
					<h3>Sportkampen</h3>
					<p>
					 Om de atletieksport in het algemeen en onze club in het bijzonder te promoten in Sint-Jans-
					 Molenbeek en omstreken zal minstens één maal per jaar een sportkamp worden georganiseerd<br />
					 door de club. Dit sportkamp staat open voor aangeslotenen bij onze club evenals voor niet 
					 aangeslotenen. Het doel van het sportkamp zal zijn om de jongeren op een speelse manier te<br />
					 laten kennis maken met de atletieksport. Om maatschappelijk kwetsbare jongeren niet uit te
					 sluiten zal de deelnameprijs zo laag mogelijk worden gehouden.<br />
					 De juiste datum en de leeftijd van de deelnemers zal jaarlijks in samenspraak met de trainers
					 worden vastgelegd.
					</p>
   
					<h3>Topsport</h3>
					<p>
					Daar jongeren die doorgroeien naar een (inter)nationaal niveau een voorbeeld kunnen zijn
					voor de anderen jongeren binnen de club en in Sint-Jans-Molenbeek in het algemeen, zal de<br />
					club in de mate van het mogelijke deze jongeren zo veel mogelijk steunen. In de eerste plaats
					zal de club deze jongeren laten doorgroeien naar de door de VAL ontwikkelde trajecten om<br />
					talentvolle jongeren te laten doorstromen tot topatleten. Enkele van deze trajecten zijn:<br />
					provinciale trainingen en testen, federale trainingen en testen, federale stages, topsportschool,
					Atletiek Vlaanderen,…<br />
				   Indien talentvolle jongeren door omstandigheden zich niet kunnen ontwikkelen via deze
				   trajecten, zal de club hen in de mate van het mogelijke zelf begeleiden of begeleiden naar een
				   club die hen zo goed <br>mogelijk kan begeleiden.
					</p>
   
   
                   
     </div>
  </div>