<div class=MainHeaderDive>
  <!-- Hamburger menu on small screens -->
  <div class=navHeaderKlein>
    <mat-toolbar class="navbar">
      <div class="testytest3">
        <div id="testMenu2" class="btn-group mr-3">
          <button mat-button class="spanNave" [matMenuTriggerFor]="menuH"><i class="material-icons">
              menu
            </i></button>
          <mat-menu #menuH="matMenu" class="hamburgerM" yPosition="below" xPosition="before" [overlapTrigger]="true">
            <button mat-menu-item class="spanNaveSubmenuH" routerLink="">Home</button>
            <button mat-menu-item class="spanNaveSubmenuH" routerLink="algemeneInformatie">Algemene Informatie</button>
            <button mat-menu-item class="spanNaveSubmenuH" routerLink="beleidsplan">Beleidsplan</button>
            <button mat-menu-item class="spanNaveSubmenuH" routerLink="organisatie">Organisatie</button>
            <button mat-menu-item class="spanNaveSubmenuH" routerLink="contact">Contact</button>
            <button mat-menu-item class="spanNaveSubmenuH" routerLink="trainingen">Trainingen</button>
            <button mat-menu-item class="spanNaveSubmenuH" routerLink="wedstrijden">Wedstrijden</button>
            <button mat-menu-item class="spanNaveSubmenuH" routerLink="clubrecords">Clubrecords</button>
            <button mat-menu-item class="spanNaveSubmenuH" routerLink="multimedia">Multimedia</button>
            <button mat-menu-item class="spanNaveSubmenuH" routerLink="links">Links</button>
            <!--<button mat-menu-item class="spanNaveSubmenuH" routerLink="inschrijving">Inschrijving</button>-->
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
  </div> <!-- End hamburger navigation menu -->

  <!-- Carousel -->
  <div class="mainImg">
    <div class=imgHeader>

      <ngb-carousel *ngIf="images" [showNavigationIndicators]="false" [showNavigationArrows]="false">
        <ng-template ngbSlide *ngFor="let image of images">

          <picture>
            <source media="(min-width: 1000px)" [srcset]="image[7]">
            <source media="(min-width: 800px)" [srcset]="image[6]">
            <source media="(min-width: 700px)" [srcset]="image[5]">
            <source media="(min-width: 600px)" [srcset]="image[4]">
            <source media="(min-width: 500px)" [srcset]="image[3]">
            <source media="(min-width: 400px)" [srcset]="image[2]">
            <source media="(min-width: 300px)" [srcset]="image[1]">

            <img class="headerFoto" [src]="image[0]" />
          </picture>

          <div class="carousel-caption">
            <p>
              <a class="headerIcon" href="https://www.facebook.com/pages/category/Amateur-Sports-Team/ATLEMO-209947102367668/" target="_blank">
                <mat-icon svgIcon="Facebook"></mat-icon>
              </a>
              <a class="headerIcon" href="https://www.instagram.com/atlemo_foyer/" target="_blank">
                <mat-icon svgIcon="Instagram"></mat-icon>
              </a>
              <a class="headerIcon" routerLink="multimedia">
                <mat-icon svgIcon="Foto-album"></mat-icon>
              </a>
              <br><span class="naamClubDia">Atletiek Vereniging Molenbeek</span>
              <br><span class="atlemoKorter">ATLEMO</span>
            </p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div> <!-- End Carousel -->

  <!-- Prominent logo links -->
  <div class=socialMediaHeader>
    <a href="http://www.foyer.be/" target="_blank">
      <img src="../../assets/img/foyer.png" alt="logo Foyer" />
    </a>
    <a href="https://www.vgc.be/" target="_blank">
      <img src="../../assets/img/index.png" alt="logo VGC" /></a>
    <a href="https://be.brussels/" target="_blank">
      <img src="../../assets/img/brusselsCap.png" alt="logo Brussels Gewest" /></a>
    <a href="https://www.trooper.be/Atlemo" target="_blank">
      <img src="../../assets/img/logo_trooper_small.gif" alt="logo Trooper Atlemo" /></a>
  </div> <!-- End prominent logo links -->

  <!-- Regular menu on regular sized screens -->
  <div class=navHeader>
    <mat-toolbar class="navbar">
      <div class="homediv">
        <a routerLink="">
          <mat-icon aria-hidden="false" class="iconhome" aria-label="Home icon">home</mat-icon>
        </a>
      </div>
      <div class="testytest3">
        <div id="testMenu" class="btn-group mr-3">
          <button mat-button class="spanNave" [matMenuTriggerFor]="menu">Club</button>
          <mat-menu #menu="matMenu" class="normaalMenuM" yPosition="below" xPosition="after">
            <button mat-menu-item class="spanNaveSubmenu" routerLink="algemeneInformatie">Algemene Informatie</button>
            <button mat-menu-item class="spanNaveSubmenu" routerLink="beleidsplan">Beleidsplan</button>
            <button mat-menu-item class="spanNaveSubmenu" routerLink="organisatie">Organisatie</button>
            <button mat-menu-item class="spanNaveSubmenu" routerLink="contact">Contact</button>
            <!--<button mat-menu-item class="spanNaveSubmenu" routerLink="inschrijving">Inschrijving</button>-->
          </mat-menu>
          <button mat-flat-button routerLink="trainingen" class="spanNave">Trainingen</button>
          <button mat-flat-button routerLink="wedstrijden" class="spanNave">Wedstrijden</button>
          <button mat-flat-button routerLink="clubrecords" class="spanNave">Clubrecords</button>
          <button mat-flat-button routerLink="multimedia" class="spanNave">Multimedia</button>
          <button mat-flat-button routerLink="links" class="spanNave">Links</button>

        </div>
      </div>
    </mat-toolbar>
  </div> <!-- End regular menu for regular screens -->

</div>
