/* Carousel */
.mainImg {
  display: flex;
  flex-direction: row;
  /*border: green ridge;height: 500px;*/
  width: 100%;
}

.imgHeader {
  /* border: yellow ridge;*/
  width: 100%;
  margin: 0 auto;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.headerFoto {
  min-height: 300px;
  width: 1200px;
}

.carousel-caption {
  margin: 0 auto;
}

.headerIcon {
  color: white;
  margin-left: 1em;
}

.naamClubDia {
  font-size: 30px;
  font-weight: bolder;
}

.atlemoKorter {
  display: none;
}
/* END Carousel */

.socialMediaHeader {
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 0.5em;
}

.socialMediaHeader img {
  height: 50px;
  /* Disabling for now, the Cera logo got too squished.
   * Downside: some logos are bigger than others then.
   * Added the max-width to the a element to ensure squishing at lower sizes
   * Idea: Cera without baseline at smaller sizes?
  max-width: 70px;
  */
  max-width: 100%;
}
.socialMediaHeader a {
  max-width: 20%;
}

/*tot 300px*/
@media screen and (max-width: 300px) {
  .headerFoto {
    width: 300px;
  }

  .naamClubDia {
    font-size: 20px;
  }
}


/*media van 301 tot 400px*/
@media screen and (min-width: 301px) and (max-width: 400px) {
  .headerFoto {
    width: 400px;
  }

  .naamClubDia {
    font-size: 20px;
  }
}

/*media tot 600px*/
@media screen and (max-width: 600px) {
  .homediv {
    display: none;
  }

  .icons {
    display: block;
  }

}

@media screen and (max-width: 450px) {
  .naamClubDia {
    display: none;
  }

  .atlemoKorter {
    font-size: 30px;
    font-weight: bolder;
    display: block;
  }

}

/*media van 401 tot 500px*/
@media screen and (min-width: 401px) and (max-width: 500px) {
  .headerFoto {
    width: 500px;
  }
}

/*media van 501 tot 600px*/
@media screen and (min-width: 501px) and (max-width: 600px) {
  .headerFoto {
    width: 600px;
  }
}

/*media van  600px*/
@media screen and (min-width: 600px) {
  .icons:last-of-type {
    display: none;
  }
}

/*media van 601 tot 700px*/
@media screen and (min-width: 601px) and (max-width: 700px) {
  .headerFoto {
    width: 700px;
  }

}

/*media van 701 tot 800px*/
@media screen and (min-width: 701px) and (max-width: 800px) {
  .headerFoto {
    width: 800px;
  }
}

/*media van 801 tot 1000px*/
@media screen and (min-width: 801px) and (max-width: 1000px) {
  .headerFoto {
    width: 1000px;
  }
}

/*media van 1001 tot 1200px*/
@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .headerFoto {
    width: 1200px;
  }
}
