
 .headerFoto{
    height: 25em;
     width: 90em;
     
 }
 .carousel-caption{margin:0 auto;}
.mainImg{display: flex;flex-direction: row;/*border: green ridge;height: 500px;*/width:100%;}
.imgHeader{
 /* border: yellow ridge;*/
    width: 100%;
   margin:  0 auto;
    height:300px;
    display: flex;
    flex-direction: row;
   justify-content: flex-end;
  align-items: flex-end;
}
.imgHeaderLogo{ height:100%;width: 40%;}

.headerIcon{color: white;margin-left: 1em;}
.socialMediaHeader{
     
       width: 100%;
       height: 4em;
       display: flex;
       flex-direction: row;
      justify-content: space-evenly;
      padding-top: 0.5em;
   }
 .naamClubDia{font-size:30px;font-weight: bolder;}
 .atlemoKorter{display: none;}
  

/*tot 300px*/
 @media screen and (max-width: 300px){
  .headerFoto{
      height: 20em;
       width: 25em;
  }
  .naamClubDia{font-size:20px;}
   }
   
 
 /*media van 301 tot 400px*/
@media screen and (min-width: 301px)and  (max-width: 400px){
    .headerFoto{
        height: 20em;
         width: 30em;
         
     }
     .naamClubDia{font-size:20px;}
  }
 /*media tot 600px*/
@media screen and (max-width: 600px){
    .homediv{display: none;}
    .icons{display: block;}
    
  }
@media screen and (max-width: 450px){
  .naamClubDia{display: none;}
  .atlemoKorter{font-size:30px;font-weight: bolder;display: block;}
    
  }
  
  /*media van 401 tot 500px*/
  @media screen and (min-width: 401px) and (max-width: 500px){
    .headerFoto{
        height: 25em;
         width: 32em;}
  }
  
  /*media van 501 tot 600px*/
  @media screen and (min-width: 501px) and (max-width: 600px){
    .headerFoto{
        height: 30em;
         width:37em;
  } 
   }
  /*media van  600px*/
  @media screen and  (min-width: 600px){
    .icons:last-of-type{display:none;}
   }
  
  /*media van 601 tot 700px*/
  @media screen and (min-width: 601px) and (max-width: 700px){
    .headerFoto{
        height: 25em;
         width: 44em;
  } 
    
  }
  
  /*media van 701 tot 800px*/
  @media screen and (min-width: 701px) and (max-width: 800px){
    .headerFoto{
        height: 25em;
         width: 50em;
  } 
    
  }
  
  /*media van 801 tot 900px*/
  @media screen and (min-width: 801px) and (max-width: 900px){
    .headerFoto{
        height: 25em;
         width: 60em;
  } 
  }
  /*media van 901 tot 1000px*/
  @media screen and (min-width: 901px) and (max-width: 1000px){
    .headerFoto{
        height: 25em;
         width:63em;
  } 
  }
  /*media van 1001 tot 1100px*/
  @media screen and (min-width: 1001px) and (max-width: 1100px){
    .headerFoto{
        height: 25em;
         width:70em;
  } 
  }
  /*media van 1101 tot 1200px*/
  @media screen and (min-width: 1101px) and (max-width: 1200px){
    .headerFoto{
        height: 25em;
         width:75em;
  } 
  }
  /*media van 1201 tot 1300px*/
  @media screen and (min-width: 1201px) and (max-width: 1300px){
    .headerFoto{
        height: 25em;
         width:80em;
  } 
  }
  /*media van 1301 tot 1400px*/
  @media screen and (min-width: 1301px) and (max-width: 1400px){
    .headerFoto{
        height: 25em;
         width:85em;
  } 
  }
  /*media vanaf 1500 tot  1600*/
  @media screen and (min-width: 1500px)and (max-width: 1600px){
    .headerFoto{
        height: 30em;
         width: 100em;
  } 
  }
  /*media vanaf 1601 tot  1700*/
  @media screen and (min-width: 1601px)and (max-width: 1700px){
    .headerFoto{
        height: 40em;
         width: 105em;
  } 
  }
  /*media vanaf 1701 tot  1800*/
  @media screen and (min-width: 1701px)and (max-width: 1800px){
    .headerFoto{
        height: 30em;
         width: 110em;
  } 
  }
  /*media vanaf 1801 tot  1900*/
  @media screen and (min-width: 1801px)and (max-width: 1900px){
    .headerFoto{
        height: 30em;
         width: 115em;
  } 
  }
  
  /*media vanaf 1901 tot  2000*/
  @media screen and (min-width: 1901px)and (max-width: 2000px){
    .headerFoto{
        height: 30em;
         width: 120em;
  } 
  }
  /*media vanaf 2001 tot  2100*/
  @media screen and (min-width: 2001px)and (max-width: 2100px){
    .headerFoto{
        height: 30em;
         width: 125em;
  } 
  }
  /*media vanaf 2101 tot  2200*/
  @media screen and (min-width: 2101px)and (max-width: 2200px){
    .headerFoto{
        height: 30em;
         width: 130em;
  } 
  }
  

 


