<div class=bodyPageDive>
        <div class="mat-typography" >
   <h1>Interessante links</h1>
  <!-- <div class="mainLinks">
   <div class="logoLinks"><img src="../../assets/img/logo_foyer-transparent.png" alt="logo foyer" class="headerFoto2"/></div>
   <div class="textLinks"> <p>Regionaal Integratiecentrum Foyer</p>
       <a href="http://www.foyer.be/" class="links">www.foyer.be</a>

</div>
</div>-->

<div class="mainLinks">
   <div class="logoLinks"><img src="../../assets/img/val.jpg" alt="val IMG" class="headerFoto2"/></div>
   <div class="textLinks"> <p>Vlaamse Atletiekliga (VAL) officiële site</p>
       <a href="http://www.atletiek.be/" class="links">www.atletiek.be</a>

</div>
</div>

<div class="mainLinks">
   <div class="logoLinks"><img src="../../assets/img/iaaf.jpg" alt="IAAF IMG" class="headerFoto2"/></div>
   <div class="textLinks"> <p>World Athletics (vroeger IAAF)</p>
       <a href="https://www.worldathletics.org/" class="links">www.worldathletics.org/</a>

</div>
</div>

<div class="mainLinks">
   <div class="logoLinks"><img src="../../assets/img/val.jpg" alt="val clubs IMG" class="headerFoto2"/></div>
   <div class="textLinks"><p>Vlaamse Atletiekliga Clubs</p>
       <a href="http://www.val.be/?mnuid=388" class="links">Val Clubs</a>

</div>
</div>

<div class="mainLinks">
   <div class="logoLinks"><img src="../../assets/img/atletiekNieuws.png" alt="atletiekNieuws IMG" class="headerFoto2"/></div>
   <div class="textLinks"> <p>Atletieknieuws </p>
       <a href="http://www.atni.be/" class="links">www.atni.be</a>

</div>
</div>

<div class="mainLinks">
   <div class="logoLinks"><img src="../../assets/img/RunnersWorlds.png" alt="runners world IMG" class="headerFoto2"/></div>
   <div class="textLinks"> <p>Runner's World </p>
       <a href="http://www.runnersworld.com" class="links">www.runnersworld.com</a>

</div>
</div>

<div class="mainLinks">
   <div class="logoLinks"><img src="../../assets/img/ligueFr.jpg" alt="ligue Fr IMG" class="headerFoto2"/></div>
   <div class="textLinks"><p>Ligue Belge Francophone d'Athlétisme (LBFA)</p>
       <a href="http://www.lbfa.be/web/" class="links">www.lbfa.be</a>

</div>
</div>

<div class="mainLinks">
   <div class="logoLinks"><img src="../../assets/img/trackAndField.jpg" alt="track&field nieuws IMG" class="headerFoto2"/></div>
   <div class="textLinks"> <p>Track and Field News</p>
       <a href="http://www.trackandfieldnews.com/" class="links">www.trackandfieldnews.com</a>

</div>
</div>
<div class="mainLinks">
   <div class="logoLinks"></div>
   <div class="textLinks"> <p>Sportuitslagen - Atletiek</p>
       <a href="https://www.sportuitslagen.org/atletiek-s5.html" class="links">www.sportuitslagen.org/atletiek</a>

</div>
</div>

  </div>
</div>
