.bodyPageDive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}

section.news header,
section.events header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

section.news header mat-divider,
section.events header mat-divider {
  width: 100%;
  margin-bottom: 3em;
  box-shadow: 0px 5px 0px rgb(185, 185, 185);
  background-color: rgb(185, 185, 185);
}

/* Actualiteit feed */
section.news {
  border-left: thin solid rgb(185, 185, 185);
  border-right: thin solid rgb(185, 185, 185);
  border-bottom: thin solid rgb(185, 185, 185);
  border-top: none;
  width: 55%;
  height: auto;
  box-shadow: 2px 2px 5px rgb(173, 173, 173);
}

section.news article {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    "date header"
    "photo text"
    "photo results";
  justify-content: center;
}

article.news_entry div.image {
  width: 11em;
  height: 10em;
  padding-top: 0.5em;
  grid-area: photo;
  justify-self: center;
}

article.news_entry div.image img {
  width: 100%;
  height: 80%;
}

article.news_entry section.text {
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
  grid-area: text;
}

/* ::ng-deep is some angular construction to ensure styling still works with
 * innerhtml filling in. Otherwise their rewriting of classes/html ruins the
 * matching. */
article.news_entry ::ng-deep h4 {
  font-size: 1.2rem;
  height: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

article.news_entry h3 {
  font-size: 20px;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  grid-area: header;
}

article.news_entry time {
  grid-area: date;
  padding-left: 1em;
  padding-right: 1em;
  justify-self: center;
}

article.news_entry section.results {
  grid-area: results;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

section.results div.albumicon {
  width: 2.5em;
  height: auto;
  padding-left: 0.5em;
}

section.results button {
  font-size: 1vw;
  height: auto;
  margin-right: 1em;
  width: auto;
}

/* Events */
section.events {
  width: 30%;
  height: 50%;
  margin-left: 2em;
  box-shadow: 2px 2px 5px rgb(173, 173, 173);
}

.titleEvent {
  font-size: 20px;
  font-weight: bold;
}

.eventInfo {
  width: 100%;
  height: auto;
  padding-left: 1em;
}

button {
  background-color: rgb(51, 37, 241);
  color: white;
}

mat-divider {
  width: 90%;
  margin: 0 auto;
}

.eventInfo a {
  color: rgb(51, 37, 241);
}

.eventInfo a:hover {
  text-decoration: none;
  font-weight: bold;
}

/*media tot 400px*/
@media screen and (max-width: 400px) {
  .bodyPageDive {
    flex-direction: column;
  }

  section.news,
  section.events {
    width: 100%;
    margin-bottom: 1em;
    margin-left: 0em;
  }

  section.results button {
    font-size: 2.5vw;
    padding-left: 0px;
  }

  .resultIcon {
    padding-left: 0.10em;
    width: 2em;
  }
}

/* media tot 500px */
@media screen and (max-width: 500px) {
  section.news article {
    grid-template-columns: none;
    grid-template-areas:
      "photo"
      "header"
      "date"
      "text"
      "results";
  }
}

/*media van 401 tot 600px*/
@media screen and (min-width: 401px) and (max-width: 600px) {
  .bodyPageDive {
    flex-direction: column;
  }

  section.news,
  section.events {
    width: 95%;
    margin-bottom: 1em;
    margin-left: 0em;
    margin: 0 auto;
    margin-top: 1em;
  }

  section.results button {
    font-size: 2.5vw;
    padding-left: 0.5px;
  }

  .resultIcon {
    padding-left: 0.10em;
    width: 2em;
  }

  button {
    width: 20px;
  }
}

/*media van 601 tot 700px*/
@media screen and (min-width: 601px) and (max-width: 700px) {
  .bodyPageDive {
    flex-direction: column;
  }

  section.news,
  section.events {
    width: 95%;
    margin-bottom: 1em;
    margin-left: 0em;
    margin: 0 auto;
    margin-top: 1em;
  }

  section.results button {
    font-size: 12px;
  }
}

/*media van 701 tot 800px*/
@media screen and (min-width: 701px) and (max-width: 800px) {
  section.news {
    width: 60%;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-top: 1em;
  }

  section.events {
    width: 40%;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-top: 1em;
  }
}

/*media van 801 tot 1000px*/
@media screen and (min-width: 801px) and (max-width: 1000px) {
  section.news {
    width: 60%;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-top: 1em;
  }

  section.events {
    width: 40%;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 1em;
  }
}
