<div class=bodyPageDive>

  <!-- begin div met alle artikels -->
  <section class="news">
    <header>
      <h2>Actualiteit</h2>
      <mat-divider></mat-divider>
    </header>
    <ng-template ngFor let-entry [ngForOf]="entries">
      <article class="news_entry">
        <h3>{{ entry.title }}</h3>
        <div class="image">
          <a href="{{ entry.album_url }}" target="_blank">
            <img src="{{ entry.img }}" />
          </a>
        </div>
        <time datetime="{{ entry.date }}">
          {{ entry.date | date:'mediumDate' }}
        </time>
        <section class="text">
          <p>{{ entry.text }}
            <span *ngIf="!entry.collapsed" style="white-space: pre-line">
              {{ entry.more_text }}
            </span>
          </p>
        </section>
        <section class="results">
          <div>
          <button (click)="entry.collapsed = !entry.collapsed" mat-stroked-button>Meer/Minder</button>
          </div>
          <a *ngIf="entry.results_url" href="{{ entry.results_url }}" target="_blank"><button mat-stroked-button>Uitslagen</button></a>
          <div *ngIf="entry.album_url" class="albumicon">
            <a href="{{ entry.album_url }}">
              <img src="./../../assets/img/icons8-photo-gallery-30.png">
            </a>
          </div>
        </section>
      </article>
      <mat-divider></mat-divider>
    </ng-template>
  </section> <!-- END section.news -->


  <!-- Begin div met alle Events -->
  <section class="events">
    <header>
      <h2>Events</h2>
      <mat-divider></mat-divider>
    </header>

    <!--  event 3 -->
    <div class="eventInfo">
      <p><span class="titleEvent">Atletiek trainingskamp</span><br>
      <span class="middenEvent"><del>6/4 - 10/4 in Nederland</del> Door COVID19 is dit verplaatst naar de herfstvakantie. Ouders van ingeschreven kinderen zijn gecontacteerd.</span> <br>
        <span class="EindeEvent"></span> </p>

    </div>
    <mat-divider></mat-divider>
    <div class="eventInfo">
      <p><span class="titleEvent">Spaghetti Party</span><br>
        <span class="middenEvent">8 februari om 17u</span> <br>
        <span class="EindeEvent">In de Foyer, Werkhuizenstraat 25, 1080 Sint-Jans-Molenbeek.
          Vanaf 14u zijn er ook spelletjes voorzien.
          Inschrijving verplicht voor spaghetti party.</span> </p>

    </div>
    <mat-divider></mat-divider>
    <div class="eventInfo">
      <p><span class="titleEvent">Infoavond</span><br>
        <span class="middenEvent">6/11 om 19u00</span> <br>
        <span class="EindeEvent">Werkhuizenstraat 25, 1080 Molenbeek.<br>
          Mail naar info@atlemo.be voor meer info </span> </p>

    </div>
    <mat-divider></mat-divider>
    <!--  event 3 -->
    <div class="eventInfo">
      <p><span class="titleEvent">Voorbereidingskamp Crossseizoen</span><br>
        <span class="middenEvent">29/10 - 31/10 in Molenbeek</span> <br>
        <span class="EindeEvent">Voor meer info of Inschrijving zie flyer</span> </p>

    </div>
    <mat-divider></mat-divider>
    <!--  event 3 -->
    <div class="eventInfo">
      <p><span class="titleEvent">JOGGING FOYER</span><br>
        <span class="middenEvent">14/9 in Molenbeek</span> <br>
        <span class="EindeEvent">Voor meer info of <a href="https://www.hopasports.com/nl/event/jogging-foyer-2019">Inschrijving</a></span> </p>

    </div>
    <mat-divider></mat-divider>

    <mat-divider></mat-divider>
  </section>
  <!-- Einde section.events -->
</div>
