<div class=bodyPageDive>
  <div class="mat-typography">

    <div class="divRaadVanBestuur">
      <!-- begin kaart Johan -->
      <div class="RaadVanBestuurCard">
        <div class="raadFoto"><img class="raadFotosOpmaak" src="../../assets/img/rubon31.png" alt="Johan Leman">
        </div>
        <div class="raadText">
          <h1>Johan Leman</h1>
          <p><span class="boldClass">Functie:</span><br/>Voorzitter</p>
          <p><span class="boldClass">Email:</span><br/> johan.leman@foyer.be</p>
        </div>
      </div>
      <!-- begin kaart maarten -->
      <div class="RaadVanBestuurCard">
        <div class="raadFoto"><img class="raadFotosOpmaak" src="../../assets/img/fullsizeoutput_1e82.jpeg" alt="Maarten">
        </div>
        <div class="raadText">
          <h1>Maarten Dejonghe</h1>
          <p><span class="boldClass">Functie:</span><br/>Dagelijkse werking/coördinatie</p>
          <p><span class="boldClass">Email:</span><br/> maarten.dejonghe@atlemo.be</p>
        </div>
      </div>
 <!-- einde kaart maarten -->
      <!-- begin kaart Hamza Tahaouart -->
      <div class="RaadVanBestuurCard">
        <div class="raadFoto"><img class="raadFotosOpmaak" src="../../assets/img/fullsizeoutput_1e7c.jpeg" alt="Hamza">
        </div>
        <div class="raadText">
          <h1>Hamza Tajaouart</h1>
          <p><span class="boldClass">Functie:</span><br/> Sportief directeur</p>
          <p><span class="boldClass">Email:</span><br/> hamza.tajaouart@atlemo.be</p>

        </div>
      </div>
 <!-- einde kaart Hamza Tahaouart -->

      <!-- begin kaart Ilyas Fatihi  -->
      <div class="RaadVanBestuurCard">
        <div class="raadFoto"><img class="raadFotosOpmaak" src="../../assets/img/fullsizeoutput_1e73.jpeg" alt="Ilias Fatihi">
        </div>
        <div class="raadText">
          <h1>Ilyas Fatihi </h1>
          <p><span class="boldClass">Functie:</span><br/> Jeugdcoördinator</p>
          <p><span class="boldClass">Email:</span><br/> </p>
        </div>
      </div>
 <!-- einde kaart Ilyas Fatihi -->
      <!-- begin kaart Bernd Maier  -->
      <div class="RaadVanBestuurCard">
        <div class="raadFoto"><img class="raadFotosOpmaak" src="../../assets/img/fullsizeoutput_1e69.jpeg" alt="Bernd">
        </div>
        <div class="raadText">
          <h1>Bernd Maier </h1>
          <p><span class="boldClass">Functie:</span><br/> Verantwoordelijke administratie</p>
          <p><span class="boldClass">Email:</span><br/> berndmaier21@hotmail.com</p>
        </div>
      </div>
 <!-- einde kaart Bernd Maier  -->
      <!-- begin kaart Chantal Uyttendaele -->
      <div class="RaadVanBestuurCard">
        <div class="raadFoto"><img class="raadFotosOpmaak" src="" alt="Chantal Uyttendaele">
        </div>
        <div class="raadText">
          <h1>Chantal Uyttendaele</h1>
          <p><span class="boldClass">Functie:</span><br/> Financieel verantwoordelijke</p>
          <p><span class="boldClass">Email:</span><br/> chantal.uyttendaele@foyer.be</p>

        </div>
      </div>
 <!-- einde kaart Chantal Uyttendaele -->
      <!-- begin kaart Sedric Lodonou -->
      <div class="RaadVanBestuurCard">
        <div class="raadFoto"><img class="raadFotosOpmaak" src="../../assets/img/fullsizeoutput_1e5b.jpeg" alt="Sedric Lodonou">
        </div>
        <div class="raadText">
          <h1>Sedric Lodonou</h1>
          <p><span class="boldClass">Functie:</span><br/> Communicatieverantwoordelijke</p>
          <p><span class="boldClass">Email:</span><br/>sedric.lodonou@atlemo.be </p>
        </div>
      </div>
 <!-- einde kaart Sedric Lodonou -->



    </div>
  </div>

  </div>
