<div class=bodyPageDive>
  <div class="mat-typography">
    <h4>Wie zijn we</h4>
    <p>Atlemo is een Nederlandstalige Brusselse atletiekclub die openstaat voor jong en oud en oud, recreant en
      competitie
      atleet, met daarnaast ook een sociaal aspect.<br> De club tracht op een laagdrempelige manier open te staan voor
      alle
      jongeren en ouderen uit de buurt. Al onze jeugdtrainers zijn bovendien voormalige jeugdatleten die opgeleid en<br>
      gevormd werden tot een gediplomeerde trainer. Voor de jeugdatleetjes worden twee of drie clubtrainingen per week
      voorzien. Voor de volwassen atleten drie<br> trainingen of meer per week (naargelang de vraag en het niveau van de
      atleet). Daarnaast wordt er gezamenlijk aan verschillende wedstrijden<br> deelgenomen, worden er sportstages - en
      kampen
      georganiseerd, alsook een eigen jogging.</p>

    <h4>Inschrijving</h4>
    <!--<p>U kunt <a class="LinkOnlineInschrijven" href="/inschrijving">online</a> inschrijven of op Atlemo op
      afspraak.<br>-->
      <p>Inschrijving op atlemo  neem <a class="LinkOnlineInschrijven" href="/contact">contact</a>  met ons.<br>
      Prijsindeling* :</p>

    <ul>
      <li>Kanggoeroes en Benjamins(6-9 jaar). <span class="boldClass">€65 per jaar</span> (€45 omnio)</li>
      <li>Pupillen en Miniemen(10-13 jaar). <span class="boldClass">€85 per jaar</span> (€65 omnio)</li>
      <li>Kadetten,Scholieren en junioren(14-19 jaar). <span class="boldClass">€90 per jaar</span> (€65 omnio)</li>
      <li>Senioren en Masters(Competitie). <span class="boldClass">€120 per jaar</span> (€80 omnio)</li>
      <li>Senioren en Masters(recreatief). <span class="boldClass">€60 per jaar</span> (€40 omnio)</li>

    </ul>
    <p class="boldClass">*Er is korting voor meerdere leden uit hetzelde gezin</p>
    <p class="boldClass">€15 extra inschrijvingsgeld voor jeugdatleten die aan competities willen deelnemen<br>
    (voor wedstijdsinglet - officieel startnummer - inschrijvingsgeld wedstrijden) !!! </p>

    <h4>Kledij</h4>
    <p>wedstrijduitrusting:<button (click)="meerMinderToggle()" mat-stroked-button color="primary" class="meerMinder">Tonen/Verbergen</button>
      <br>
      <span *ngIf="!isCollapsed" class="cardALge">
        <mat-card class="example-card">

          <img mat-card-image src="../../assets/img/Singlet1.jpg" alt="looptrui voorkant">
          <mat-card-content>
            <p>Clubtrui met loopshort(voor)</p>
            <p>€10</p>
            <p>Kindermaten:<br>6j/8j/10j/12j/14/XS </p>
            <p>volwassenmaten:<br>S/M/L/XL/XXL/XXXL</p>

          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
          <img mat-card-image src="../../assets/img/Singlet2.jpg" alt="looptrui achterkant">
          <mat-card-content>
            <p>Clubtrui met loopshort(achter)</p>
            <p>€10</p>
            <p>Kindermaten:<br>6j/8j/10j/12j/14/XS </p>
            <p>volwassenmaten:<br>S/M/L/XL/XXL/XXXL </p>
          </mat-card-content>
        </mat-card>
      </span>
    <p>Vest:<button (click)="meerMinderToggle1()" mat-stroked-button color="primary" class="meerMinder">Tonen/Verbergen</button>
      <br>
      <span *ngIf="!isCollapsed1" class="cardALge">
        <mat-card class="example-card">

          <img mat-card-image src="../../assets/img/vestVoor.JPG" alt="Vest voorkant">
          <mat-card-content>
            <p>Trainingvest(voor)</p>
            <p>€40 Kinderenmaten/€50 volwassenmaten</p>
            <p>Kindermaten:<br>120/140/152/164 </p>
            <p>volwassenmaten:<br>S/M/L</p>

          </mat-card-content>
        </mat-card>
        <mat-card class="example-card">
          <img mat-card-image src="../../assets/img/vestNa.JPG" alt="Vest achterkant">
          <mat-card-content>
            <p>Trainingsvest(achter)</p>
             <p>€40 Kinderenmaten/€50 volwassenmaten</p>
            <p>Kindermaten:<br>120/140/152/164 </p>
            <p>volwassenmaten:<br>S/M/L </p>
          </mat-card-content>
        </mat-card>
      </span>
    <p>Tas:<button (click)="meerMinderToggle2()" mat-stroked-button color="primary" class="meerMinder">Tonen/Verbergen</button>
      <br>
      <span *ngIf="!isCollapsed2" class="cardALge">
        <mat-card class="example-card">
          <img mat-card-image  src="../../assets/img/tasAtlemo.JPG"  alt="AtlemoTas">
          <mat-card-content>
            <p>Atlemo Tas</p>
            <p>€20</p>
          </mat-card-content>
        </mat-card>
        
      </span>
    <p>Pull:Info nog niet beschiekbaar</p>
    <p>T-shirt:Info nog niet beschiekbaar</p>
    <p>Training:Info nog niet beschiekbaar</p>




    
  </div>


</div>
