.recordsDiv {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
}

.recordsDiv mat-panel-title, .recordsDiv mat-panel-description {
  font-variant-caps: small-caps;
}

mat-panel-description {
  width: 20%;
}

mat-panel-title {
  width: 20%;
}

/*media tot 400px*/
@media screen and (max-width: 400px) {
  .mat-elevation-z8 {
    width: 100%;
  }

  mat-cell {
    font-size: 15px;
  }
}

/*media van 401 tot 500px*/
@media screen and (min-width: 401px) and (max-width: 500px) {
  .mat-elevation-z8 {
    width: 100%;
  }

  mat-cell {
    font-size: 17px;
  }
}

/*media van 501 tot 600px*/
@media screen and (min-width: 501px) and (max-width: 600px) {
  .mat-elevation-z8 {
    width: 99%;
  }

  mat-cell {
    font-size: 17px;
  }
}

/*media van 601 tot 700px*/
@media screen and (min-width: 601px) and (max-width: 700px) {
  .mat-elevation-z8 {
    width: 100%;
  }

  mat-cell {
    font-size: 17px;
  }
}

/*media van 701 tot 800px*/
@media screen and (min-width: 701px) and (max-width: 800px) {
  .mat-elevation-z8 {
    width: 97%;
  }

  mat-cell {
    font-size: 17px;
  }
}

/*media van 801 tot 1000px*/
@media screen and (min-width: 801px) and (max-width: 1000px) {
  .mat-elevation-z8 {
    width: 97%;
  }

  mat-cell {
    font-size: 17px;
  }
}

/*media van 1001 tot 1200px*/
@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .mat-elevation-z8 {
    width: 97%;
  }

  mat-cell {
    font-size: 17px;
  }
}
