<div class=bodyPageDive>
  <mat-tab-group>
    <mat-tab label="Outdoor">
      <div class="recordsDiv">
        <mat-accordion>
          <ng-template ngFor let-recordGroup [ngForOf]="outdoorRecords">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ recordGroup.ageCategory }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ recordGroup.gender }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-table [dataSource]="recordGroup.records" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="discipline">
                  <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="naam">
                  <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="datum">
                  <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="plaats">
                  <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="records">
                  <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                </ng-container>



                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

              </mat-table>

              <mat-paginator  [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>
          </ng-template>
        </mat-accordion>
      </div>
    </mat-tab>
    <!-- einde outdoor clubrecord -->

    <!-- Probably should merge this with previous too -->
    <mat-tab label="Indoor">
      <div class="recordsDiv">
        <mat-accordion>
          <ng-template ngFor let-recordGroup [ngForOf]="indoorRecords">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ recordGroup.ageCategory }}
                </mat-panel-title>
                <mat-panel-description>
                  {{ recordGroup.gender }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-table [dataSource]="recordGroup.records" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="discipline">
                  <mat-header-cell *matHeaderCellDef> Discipline </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.discipline}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="naam">
                  <mat-header-cell *matHeaderCellDef> Naam</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.naam}} </mat-cell>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="datum">
                  <mat-header-cell *matHeaderCellDef> datum </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.datum}} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="plaats">
                  <mat-header-cell *matHeaderCellDef> Plaats </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.plaats}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="records">
                  <mat-header-cell *matHeaderCellDef> Records </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.records}} </mat-cell>
                </ng-container>



                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

              </mat-table>

              <mat-paginator  [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>
          </ng-template>
        </mat-accordion>
      </div>
    </mat-tab>
    <!-- einde indoor clubrecord -->

  </mat-tab-group>
</div>
