/* You can add global styles to this file, and also import other style files */
/* @import "~material-icons/iconfont/material-icons.css" */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* BEGIN CSS for the header portion*/
.MainHeaderDive {
  /*  border: red ridge ; */
  width: 100%;
  height: auto;
}

.headerFoto2 {
  height: 100%;
  width: 100%;
}

svg {
  width: 24px;
  height: 24px;
  transform: scale(1.5);
}

.icons {
  width: 20px;
  height: 24px;
  padding-bottom: 1em;
  margin-right: 2.5em;
  margin-top: 1em;
}


.navHeader {
  /*   border: black ridge; */
  width: 100%;
  height: 4em;
}

.navHeaderKlein {
  /*   border: black ridge; */
  display: none;
}

.navbar {
  justify-content: space-between;
  height: 100%;
  background-color: rgb(51, 37, 241);
}

.iconhome {
  color: white;
}

.spanNave {
  /*padding-right: 1rem;*/
  background-color: rgb(51, 37, 241);
  color: white;
}

.spanNave:hover {
  background-color: rgb(11, 6, 87);
  color: white;
}

.spanNaveSubmenu:hover {
  background-color: rgb(11, 6, 87);
  color: rgb(11, 6, 87);
}

.spanNaveSubmenuH {
  color: white;
  font-size: 20px;
}

.spanNaveSubmenu {
  color: white;
  font-size: 12px;
}

#testMenu2 {
  display: none;
}

.hamburgerM {
  background-color: rgb(51, 37, 241);
  margin-left: -15px;
  width: 600px;
}

.normaalMenuM {
  background-color: rgb(51, 37, 241);
}

/* END CSS for the header portion*/


/*BEGIN CSS body portion*/
body {
  margin: 0px;
  padding: 0px;
  /* margin-left: 1%;
    margin-right: 1%; */
  position: relative;
  height: 100%;
  width: 100%;

}

.boldClass {
  font-weight: bold;
}

.bodyPageDive {
  height: auto;
  padding: 1%;
  /* height: auto; */
  width: 100%;
}

.bodybody {
  /*border: rgb(255, 81, 0) ridge;  */
  height: 100%;
  width: 95%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 2px 2px 5px rgb(173, 173, 173);
  font-size: 16px;
}

.tabsContent {
  padding-top: 2em;
}

.mat-header-cell {
  color: white;
  background-color: rgb(51, 37, 241);
  font-size: 12px;
}

/*END CSS body portion*/


/*BEGIN CSS footer portion*/
.footerDive {
  width: 100%;
  height: 4em;
  bottom: 0;
  /* border: black ridge; */
  background-color: rgb(17, 17, 17);
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logos {
  border: red ridge;
  width: 8%;
  height: 100%;
  margin-left: 0.5em;
}

.fotosLogos {
  width: 100%;
  height: 100%;
}

/*END CSS footer portion*/

/*media tot 400px*/
@media screen and (max-width: 400px) {
  .bodybody {
    width: 100%;
  }

  .bodyPageDive {
    padding: 0%;
    padding-left: 0.5%;
  }

  .footerDive {
    margin-top: 1em;
  }
}

/*.spanNave{
    padding-right: 0px;

    color:white;
    width: auto;
    font-size: 0.7rem;

}*/
/*media tot 500px*/
@media screen and (max-width: 500px) {
  #testMenu {
    display: none;
  }

  #testMenu2 {
    display: block;
  }

  .socialMediaHeader {
    border: rgb(51, 37, 241) thin solid;
    margin-bottom: 0.5em;
  }

  .navHeader {
    /*   border: black ridge; */
    display: none;
  }

  .navHeaderKlein {
    /*   border: black ridge; */
    display: block;
  }

  .bodyPageDive {
    padding: 0%;
    padding-left: 0.5%;
  }

  .spanNave {
    padding-right: 0px;
    color: white;
    width: auto;
    font-size: 0.7rem;
  }
}

/*************************************einde Hamburgermenu********************************************************/
/*media van 401 tot 500px*/
@media screen and (min-width: 401px) and (max-width: 500px) {
  .bodybody {
    width: 100%;
  }

  .bodyPageDive {
    padding: 0%;
    padding-left: 0.5%;
  }

  .footerDive {
    margin-top: 1em;
  }
}

.navHeaderKlein {
  /*   border: black ridge; */
  display: block;
}

.spanNave {
  padding-right: 0px;
  color: white;
  width: auto;
  font-size: 0.7rem;
}

/*media van 501 tot 600px*/
@media screen and (min-width: 501px) and (max-width: 600px) {
  .bodybody {
    width: 100%;
  }

  .bodyPageDive {
    padding: 0%;
    padding-left: 0.5%;
  }

  .footerDive {
    margin-top: 1em;
  }
}

.spanNave {
  padding-right: 0rem;
}



/*media van 601 tot 700px*/
@media screen and (min-width: 601px) and (max-width: 700px) {
  .bodybody {
    width: 100%;
  }

  .bodyPageDive {
    padding: 0%;
    padding-left: 0.5%;
  }

  .footerDive {
    margin-top: 1em;
  }
}

/*media van 701 tot 800px*/
@media screen and (min-width: 701px) and (max-width: 800px) {
  .bodybody {
    width: 100%;
  }

  .bodyPageDive {
    padding: 0%;
    padding-left: 0.5%;
  }

  .footerDive {
    margin-top: 1em;
  }
}

/*media van 801 tot 1000px*/
@media screen and (min-width: 801px) and (max-width: 1000px) {
  .bodybody {
    width: 100%;
  }

  .bodyPageDive {
    padding: 0%;
    padding-left: 0.5%;
  }

  .footerDive {
    margin-top: 1em;
  }
}

/*media van 1001 tot 1200px*/
@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .bodybody {
    width: 97%;
  }

  .bodyPageDive {
    padding: 0%;
    padding-left: 0.5%;
  }

  .footerDive {
    margin-top: 1em;
  }
}
