<div class=bodyPageDive>
<div class="mat-typography">
<h1>Foto's van  Seizoen 2018-2019</h1>
<h3>46ste Sparta Cross - Zaterdag 23 November</h3>
<div class="resultdiv">
<div class="resultIcon"><a href="https://photos.app.goo.gl/7JsGABy6uHDUHNyY8" target="_blank">
<img src="./../../assets/img/icons8-photo-gallery-30.png"></a></div>
<div class="resultext"><p>46ste Sparta Cross Vilvoorde</p></div>
</div>
<h3>67ste Grote Prijzen van Duffel   - Zondag 17 November</h3>
<div class="resultdiv">
<div class="resultIcon"><a href="https://photos.app.goo.gl/7JsGABy6uHDUHNyY8" target="_blank">
<img src="./../../assets/img/icons8-photo-gallery-30.png"></a></div>
<div class="resultext"><p>67ste Grote Prijzen van Duffel</p></div>
</div>
<h3>Jogging de la paix  - Maandag 11 November</h3>
<div class="resultdiv">
<div class="resultIcon"><a href="https://photos.app.goo.gl/wjN9MUHFQDiPkvDi7"target="_blank">
<img src="./../../assets/img/icons8-photo-gallery-30.png"></a></div>
<div class="resultext"><p>Foto's  van Jogging de la paix</p></div>
</div>
<h3>Cross Braine L’alleud  - Zaterdag 9 November</h3>
<div class="resultdiv">
<div class="resultIcon"><a href="https://photos.app.goo.gl/ryhyH3QD1cxsr41w7"target="_blank" >
<img src="./../../assets/img/icons8-photo-gallery-30.png"></a></div>
<div class="resultext"><p>Foto's  van  Cross Braine L’alleud</p></div>
</div>
<h3>Cross Cup Relays - Zondag 27 Oktober</h3>
<div class="resultdiv">
<div class="resultIcon"><a href="https://photos.app.goo.gl/ySMLSM1tZgEEkn1j8" target="_blank" >
<img src="./../../assets/img/icons8-photo-gallery-30.png"></a></div>
<div class="resultext"><p>Foto's  van Cross Cup Relays</p></div>
</div>
<h3>Memorial René Ravets - Zaterdag 8 Junie</h3>
<div class="resultdiv">
<div class="resultIcon"><a href="https://photos.app.goo.gl/FSdVas8bfg7dagcMA" target="_blank">
<img src="./../../assets/img/icons8-photo-gallery-30.png"></a></div>
<div class="resultext"><p>Foto's  van Memorial René Ravets</p></div>
</div>
<h3>Runners’ Lab Athletics Classic Meeting
Memorial Vertommen-Cuddy - Zaterdag 11 Mei</h3>
<div class="resultdiv">
<div class="resultIcon"><a href="https://photos.app.goo.gl/UhmcyuYrFK2AdghJ6" target="_blank" > <img src="./../../assets/img/icons8-photo-gallery-30.png"></a></div>
<div class="resultext"><p>Foto's van Meeting
Memorial Vertommen-Cuddy</p></div>
</div>

</div>
</div>
